ion-content ion-toolbar {
  --background: translucent;
}

.centrar {
  text-align: center;
  padding: 20px;
}
.centra {
  text-align: center;
}

.encabezado {
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}
  