ion-content ion-toolbar {
  --background: translucent;
}

.centrar {
  text-align: center;
}

.nombre {
  font-size: small;
}

ion-label {
  text-align: center;
  font-size: small;
}

// ion-col {
//   padding: 0px;
//   display: inline-block;
// }